/* General Body Styles */
html, body, * {
    cursor: url('/images/cursor.png'), auto;
}
body, .pixel-text {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #000000a6;
    color: #222;
    font-family: 'Press Start 2P';
    font-size: small;
}

body a {
    color: #ca6fff;
    cursor: url('/images/cursor-hover.png'), auto;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-right: 10px;
    font-size: 2.2em;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 2px 8px #222;
}
.logo img {
    width: 32px;
    height: 32px;
    vertical-align: center;
    margin-right: 5px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #333;
    padding: 1rem 0;
    border-bottom: #BFE2F2 2px solid;
}
header p:nth-of-type(1) {
    cursor: url('/images/cursor-hover.png'), auto;
}
header p:nth-of-type(2) {
    cursor: url('/images/cursor-hover.png'), auto;
}
header p {
    margin: 0;
    display: inline-block;
}
.logo > p:nth-of-type(1) {
  color: #D6CDEA;
}
.logo > p:nth-of-type(2) {
  color: #BFE2F2;
}
header p:last-child {
    display: block;
    color: #fff;
    cursor: url('/images/cursor.png'), auto;
}

.container a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    background: #ddd;
}

/* Navigation Bar Styles */
nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color: #000000ad;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 0 20px;
    background: black;
    border-bottom: white 2px solid;
    color: #fff;
}

.section-content p {
    font-family: system-ui;
    font-size: medium;
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 10px;
    background: #333;
    border: #BFE2F2 2px solid;
    color: #fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
